//Body Color;
$body__background:#ECEFF1;

//Navbar Config color
$navbar__background_color--default: #607D8B;
$navbar__border_color--default: #607D8B;
$navbar__link_color--default:#fff;

//Modal config color
$modal__background:#ECEFF1;

//Modal colors
$modal__background_color--default:#607D8B;
$modal__border_color--default: #455A64;
$modal__title_font_color--default: #ffffff;

$modal__background_color--warning:#FFC107;
$modal__border_color--warning: #FFB300;
$modal__title_font_color--warning: #ffffff;
